// Devuelve propiedad: valor y propiedad: CSS Var
@mixin var($property, $var) {
  #{$property}: map-get($vars, $var);
  #{$property}: var(--#{$var});
}


// Devuelve font-family
@mixin font($font) {
  font-family: map-get($vars,font), sans-serif;
}

// Devuelve fontweight
@mixin fontWeight($weight) {
  font-weight: map-get($fontWeights,$weight);
}

// Devuelve media query
@mixin from($breakpoint) {
  @media screen and (min-width: map-get($breakpoints,$breakpoint)) {
    @content;
  }
};

// Devuelve Display Flex Row con elementos centrados en ambos ejes
@mixin flexW() {
  display: flex;
  justify-content: center;
  align-items: center;
  @content;
}

// Devuelve Display Flex Column con elementos centrados en ambos ejes
@mixin flexC() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @content;
}